.timeline_range_wrapper .input-range__track--background {
	top: -30px;
}
.timeline_range_wrapper .input-range__track--active {
	background: rgba(0, 0, 0, 0.5) !important;
	height: 101px;
	border-radius: 0;
}
.timeline_range_wrapper .input-range__track {
	background: none;
}
.timeline_range_wrapper .input-range__slider {
	border-radius: 5px;
	height: 110px;
	width: 6px;
	margin-top: -104px;
	margin-left: 0;
}

#attachmentPreviewWrapper img {
	object-fit: cover;
	width: 180px;
	height: 150px;
	display: inline-block;
	margin: 5px;
	border: 1px solid #eee;
	border-radius: 10px;
}

#attachmentPreviewWrapper video {
	object-fit: cover;
	width: 250px;
	display: inline-block;
	margin: 5px;
	border: 1px solid #eee;
	border-radius: 10px;
}

#attachmentPreviewWrapper video:focus {
	outline: none;
}
